@import "tailwindcss";


@layer base {
    body {
        @apply bg-neutral-900 text-neutral-100 relative overflow-x-hidden;
    }

}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

